@using Microsoft.AspNetCore.Identity
@using ELibrarySystem.Data.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ELibrary</title>
    <link rel="stylesheet" href="~/style.css" />
    <link rel="icon" href="~/img/core-img/favicon.ico">
    <environment include="Development">
        <link rel="stylesheet" href="~/style.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="preload-content">
            <div id="dento-load"></div>
        </div>
    </div>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="dentoNav">
                        <!-- Logo -->
                        <a asp-area="" asp-controller="LibraryAccount" asp-action="Index" class="nav-brand">
                            <img src="~/img/core-img/logo.png" style="width:85px" />
                        </a>
                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"></span>
                        </div>
                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <div class="classynav">
                                <ul id="nav">
                                    @{
                                        var messages = ViewData["MessageNavBar"] as ELibrarySystem.Web.ViewModels.SharedResources.MessagesNavBarViewModel;

                                    }

                                    <li>
                                        <a asp-area="" asp-controller="LibraryAccount" asp-action="AddBook" class="btn btn-primary">
                                            +Добави книга
                                        </a>
                                    </li>

                                    <li>
                                        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
                                            Здравей @UserManager.GetUserName(User)!
                                        </a>
                                        <ul class="dropdown">

                                            <li>
                                                <a asp-area="" asp-controller="LibraryAccount" asp-action="Index" title="Manage">
                                                    Начало
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-area="" asp-controller="LibraryAccount" asp-action="Profile">
                                                    Профил
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-area="" asp-controller="LibraryAccount" asp-action="AllBooks">
                                                    Добавени книги
                                                </a>
                                            </li>

                                            <li>
                                                <a asp-area="" asp-controller="LibraryAccount" asp-action="GiveBook">
                                                    Дай книга
                                                </a>
                                            </li>

                                            <li>
                                                <a asp-area="" asp-controller="LibraryAccount" asp-action="GivenBooks">
                                                    Дадени книги
                                                </a>
                                            </li>

                                            <li>
                                                <a asp-area="" asp-controller="LibraryAccount" asp-action="Messages">
                                                    Съобщения
                                                    <span style="background:red; padding:2px 10px 2px 10px; border-radius: 12px">
                                                        @messages.CountMessages
                                                    </span>
                                                </a>
                                            </li>

                                            <li>
                                                <a asp-area="" asp-controller="LibraryAccount" asp-action="LogOut">
                                                    Изход
                                                </a>
                                            </li>
                                        </ul>
                                    </li>




                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!--<partial name="_CookieConsentPartial" /> -->
    <div class=" container">
        @RenderBody()
        <hr />
    </div>



    <footer class="footer-area bg-img bg-gradient-overlay" style="background-image: url(img/bg-img/3.jpg);">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer-widget">
                        <a href="./index.html" class="d-block mb-4">
                            <img src="./img/core-img/logo.png" alt="" width="180px" height="180px">
                        </a>

                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-8">
                    <div class="single-footer-widget">
                        <!-- Widget Title -->

                        <p>
                            Elibrary2.somee.com e сайт за сърхраняване на информация на дадена библиотека,
                            която е: Какви книги има в библиотеката; Кой читател коя книга чете или е прочел.
                            Тук може да намериш интересни книги и лесно да се свържеш с билиотеката в която се намират.<br>

                            Ако искаш да запазиш информацията от библиотеката си, може да го направиш безплатно тук.<br>
                            Ако искаш да прочетеш някоя вълнуваща или интересна книга - може да намериш атрактивни предложения тук,
                            където може да потърсиш информация за най-близката библиотека, в която има търсената книга.<br>
                            Чети книги чрез Elibrary2.somee.com!


                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copywrite-content">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>2019 - document.write(new Date().getFullYear());</script> Всички права запазени | Сайтът е разработен от Димитър - Смолян <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->






    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- <script src="~/css/js/site.js" asp-append-version="true"></script>-->

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <!-- ******* All JS ******* -->
    <!-- jQuery js -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Popper js-->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap js-->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- All js-->
    <script src="~/js/dento.bundle.js"></script>
    <!-- Active js-->
    <script src="~/js/default-assets/active.js"></script>

    @RenderSection("Scripts", required: false)

    @this.RenderSection("Scripts", required: false)
</body>
</html>
