
@{
    ViewData["Title"] = "AllBook";
}
@model ELibrarySystem.Web.ViewModels.LibraryAccount.AllBooksViewModel
<div class=" container">
    <h2>Всички добавени книга</h2><br />
    <h3>@ViewData["message"]</h3>
    <hr />
    <form asp-action="AllBooks" asp-route-returnUrl="@ViewData["URL"]">

        <div class="row">
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="BookName" class="control-label col-md-2">Заглавие на книгата</label>
                    <input asp-for="BookName" class="form-control col-md-6" />
                    <span asp-validation-for="BookName" class="text-danger col-md-4"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="Author" class="control-label col-md-2">Автор</label>
                    <input asp-for="Author" class="form-control col-md-6" />
                    <span asp-validation-for="Author" class="text-danger col-md-4"></span>
                </div>

                <div class="form-group row">
                    <label asp-for="GenreId" class="control-label  col-md-2">Жанр</label>

                    <select asp-for="GenreId" class="col-md-6">
                        @if (Model.Genres != null)
                        {
                            @foreach (var genre in Model.Genres)
                            {
                                <option value="@genre.Id">@genre.Name</option>

                            }
                        }

                    </select>
                    <span asp-validation-for="GenreId" class="text-danger col-md-4"></span>
                </div>



                <div class="form-group row">
                    <label asp-for="SortMethodId" class="control-label  col-md-2">Сортирай по</label>

                    <select asp-for="SortMethodId" class="col-md-6">
                        @foreach (var SortMethod in Model.SortMethods)
                        {
                            <option value="@SortMethod">@SortMethod</option>
                        }
                    </select>
                    <span asp-validation-for="SortMethodId" class="text-danger col-md-4"></span>
                </div>

                <div class="form-group row">
                    <label asp-for="CountBooksOfPage" class="control-label  col-md-2">Брой книги на една станица</label>

                    <select asp-for="CountBooksOfPage" class="col-md-6">
                        @foreach (var count in Model.CountBooksOfPageList)
                        {
                            <option value="@count">@count</option>

                        }
                    </select>
                    <span asp-validation-for="CountBooksOfPage" class="text-danger col-md-4"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Търси" asp-action="AllBooksSearch" class="btn btn-default" />

                </div>


            </div>
        </div>
        @if (Model.Books != null)
        {
            @foreach (var book in @Model.Books)
            {
                <div class="row">

                    @book.BookName @book.Author @book.GenreName<br />
                    <input type="submit" value="Редактирай" asp-action="EditBookAllBook" asp-route-id="@book.BookId" class="btn btn-default" />
                    <input type="submit" value="Премахни" asp-action="DeleteBook" asp-route-id="@book.BookId" class="btn btn-default" />
                    <br />

                </div>
            }
            <div class="row">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">
                        @if (Model.CurrentPage > 1)
                        {
                            @if (Model.CurrentPage >= 2)
                            {
                                <input type="submit" value="|<" asp-route-id="1" asp-action="ChangePageAllBook" class="btn btn-default" />
                            }
                            <input type="submit" value="<" asp-route-id="@(Model.CurrentPage-1)" asp-action="ChangePageAllBook" class="btn btn-default" />

                        }

                    </div>

                    <pre> </pre>
                    <div class="btn-group" role="group" aria-label="Last Pages group">
                        @for (int i = Math.Max(Model.CurrentPage - 5, 1); i < Model.CurrentPage; i++)
                        {
                            <input type="submit" value="@i" asp-route-id="@i" asp-action="ChangePageAllBook" class="btn btn-default" />
                        }
                    </div>
                    <pre> </pre>
                    <div class="btn-group" role="group" aria-label="Active Page group">
                        <input type="submit" value="@Model.CurrentPage" asp-route-id="@Model.CurrentPage" asp-action="ChangePageAllBook" class="btn btn-default" />

                    </div>
                    <pre> </pre>
                    <div class="btn-group" role="group" aria-label="Upcoming Page group">
                        @for (int i = Model.CurrentPage + 1; i <= Math.Min(Model.CurrentPage + 5, Model.MaxCountPage); i++)
                        {
                            <input type="submit" value="@i" asp-route-id="@i" asp-action="ChangePageAllBook" class="btn btn-default" />

                        }

                    </div>
                    <pre> </pre>
                    <div class="btn-group" role="group" aria-label="Fourth group">
                        <div class="btn-group" role="group" aria-label="First group">
                            @if (Model.CurrentPage < Model.MaxCountPage)
                            {
                                <input type="submit" value=">" asp-route-id="@(Model.CurrentPage+1)" asp-action="ChangePageAllBook" class="btn btn-default" />
                                @if (Model.CurrentPage < Model.MaxCountPage - 1)
                                {
                                    <input type="submit" value=">|" asp-route-id="@Model.MaxCountPage" asp-action="ChangePageAllBook" class="btn btn-default" />
                                }

                            }

                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    Все още нямате добавена книга към Вашата библиотека
                </div>
            </div>
        }
    </form>

</div>

