@model ELibrarySystem.Web.ViewModels.LibraryAccount.GiveBookViewModel

@{
    ViewData["Title"] = "GiveBook";
}

<h1>GiveBook2</h1>

<h4>GiveBookViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GiveBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-12">
                    избрана книга: <br>
                    @Model.SelectedBook.BookName @Model.SelectedBook.Author @Model.SelectedBook.GenreName
                </div>

                <div class="col-md-12">
                    избрана потребител: <br>
                    @Model.SelectedUser.FirstName @Model.SelectedUser.LastName @Model.SelectedUser.UserName
                </div>
            </div>


            <!--Select Book-->
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="AllBooks.BookName" class="control-label col-md-2">Заглавие на книгата</label>
                        <input asp-for="AllBooks.BookName" class="form-control col-md-6" />
                        <span asp-validation-for="AllBooks.BookName" class="text-danger col-md-4"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="AllBooks.Author" class="control-label col-md-2">Автор</label>
                        <input asp-for="AllBooks.Author" class="form-control col-md-6" />
                        <span asp-validation-for="AllBooks.Author" class="text-danger col-md-4"></span>
                    </div>

                    <div class="form-group row">
                        <label asp-for="AllBooks.GenreId" class="control-label  col-md-2">Жанр</label>

                        <select asp-for="AllBooks.GenreId" class="col-md-6">
                            @if (Model.AllBooks.Genres != null)
                            {
                                @foreach (var genre in Model.AllBooks.Genres)
                                {
                                    <option value="@genre.Id">@genre.Name</option>

                                }
                            }

                        </select>
                        <span asp-validation-for="AllBooks.GenreId" class="text-danger col-md-4"></span>
                    </div>



                    <div class="form-group row">
                        <label asp-for="AllBooks.SortMethodId" class="control-label  col-md-2">Сортирай по</label>

                        <select asp-for="AllBooks.SortMethodId" class="col-md-6">
                            @foreach (var SortMethod in Model.AllBooks.SortMethods)
                            {
                                <option value="@SortMethod">@SortMethod</option>
                            }
                        </select>
                        <span asp-validation-for="AllBooks.GenreId" class="text-danger col-md-4"></span>
                    </div>

                    <div class="form-group row">
                        <label asp-for="AllBooks.CountBooksOfPage" class="control-label  col-md-2">Брой книги на една станица</label>

                        <select asp-for="AllBooks.CountBooksOfPage" class="col-md-6">
                            @foreach (var count in Model.AllBooks.CountBooksOfPageList)
                            {
                                <option value="@count">@count</option>

                            }
                        </select>
                        <span asp-validation-for="AllBooks.CountBooksOfPage" class="text-danger col-md-4"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Търси" class="btn btn-primary" />

                    </div>


                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
